.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4%;
}

#Top-area {
  background-color: rgba(255, 255, 255, .6);
  background-blend-mode: screen;
  background-image: url(src/images/Big_bg.jpg);
  height: 30vh;
  min-height: 160px;
}
/* 大型背景影像 */
.big-bg {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 300px;
  margin-top: 3vh;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  list-style: none;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-title {
  margin-top: 1vh;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: bold;
}

.ant-upload-drag-icon{
  height: 10px;
}

.ant-upload-text{
  padding-top: 10px;
}

.load_button{
  width: 20vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  text-align: center;
}

.ant-dragger{
  height: 20vh;
  margin: 0 auto 130px;
  min-height: 100px;
  padding: 2vh 0;
  width: 40vw;
}

.hint{
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.Text_zone{
  width: 40vw;
  height: 100px;
  margin: 20px auto 40px;
  padding: 0 0 10px;
}