:root {
  font-size: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  margin-right: 20px;
}

label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgb(153, 121, 88);
  text-align: center;
  padding: 10px 0;
  height: 40px;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
